 {%block content%}
<div data-scroll-index='1' class="admission_area">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        <h3>Подать заявку на поступление</h3>
                        <form id="application" method="post" action="/app" class="was-validated" request>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <strong><br /></strong>
                                        <input id="name" name="name" type="text" placeholder="Ф.И.О" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <strong><br /></strong>
                                        <input id="courses" name="courses" type="text" placeholder="Направление" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input id="phone" name="phone" type="text" placeholder="Контактный номер " required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <strong><br /></strong>
                                        <input id="email" name="email" type="text" placeholder="Email Address" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input">
                                        <strong><br /></strong>
                                        <textarea id="subject" name="subject" cols="30" placeholder="Write an Application" rows="10" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <div class="apply_btn">
                                        <button class="boxed-btn3" type="submit">Оправить заявку</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%} {% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // отслеживаем событие отправки формы
        /*  $('#contact1').submit(function() {
              $.ajax({
                  data: $(this).serialize(),
                  type: $(this).attr('method'),
                  url: "{% url 'contact1' %}",
                  success: function(response) {
                      alert("Спасибо, что обратились к нам " + response.name);
                  },
                  error: function(response) {
                      alert(response.responseJSON.errors);
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });*/
        data = {
            'name': $('#name').val(),
            'coursess': $('#coursess').val(),
            'phone': $('#phone').val(),
            'email': $('#email').val(),
            'subject': $('#subject').val(),
        }
        console.log($("#application").serialize())
        $.ajax({
            url: "{% url 'application' %}", //url страницы  
            type: "post", //метод отправки
            datatype: "json", //формат данных
            data: data, // сеарилизуем объект
            success: function(response) { //данные отправлены успешно 
                if (response.status == 200) {
                    if (callbackSucces)
                        callbackSucces(response)
                }
            },
            error: function(response) { // данные не отправлены
                console.log(response);
            }
        });

    })

    function sendAjaxForm(form_id, url, callbackSucces = null) {
        console.log($("#" + form_id).serialize())
        $.ajax({
            url: url, //url страницы  
            type: "post", //метод отправки
            datatype: "html", //формат данных
            data: $("#" + form_id).serialize(), // сеарилизуем объект
            success: function(response) { //данные отправлены успешно 
                if (response.status == 200) {
                    if (callbackSucces)
                        callbackSucces(response)
                }
            },
            error: function(response) { // данные не отправлены
                console.log(response);
            }
        });

    }
</script>
{% endblock javascript %}