{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Django Forms</title>
</head>

<body>
    <form method="POST" novalidate>
        {% csrf_token %}
        <div>
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                <div>{{field}}</div>
                <div class="error">{{field.errors}}</div>
            </div>
            {% endfor %}
        </div>
        <input type="submit" value="Send">
    </form>
</body>

</html>