{% extends 'base.html'%} {%block %}
<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->

<div class="recent_news_area section__padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section_title text-center mb-70">
                    <h3 class="mb-45">Свежие новости</h3>
                    <p>Последние новости в Сфу.Новостях: Актуальные новости Сфу, важные и свежие новости дня</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% for post in post_list%}
                <div class="single__news">
                    <div class="thumb">
                        <a href="single-blog.html">
                            <img src="{{post.image.url}}" alt="">
                        </a>
                        <span class="badge">{{podt.category}}</span>
                    </div>
                    <div class="news_info">
                        <a href="single-blog.html">
                            <h4>{{podt.title}}</h4>
                        </a>
                        <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> May 10, 2022</span>

                            <span> <i class="flaticon-comment"></i> 01 комментарий</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {%block content%}