{% extends "base.html" %} {%block content%}
<h1 style="text-align: center;">Новости поступление</h1>
<div class="event_details_area section__padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_event d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/event/1.png" alt="">
                        <div class="date text-center">
                            <h4>02</h4>
                            <span>Июль, 2022</span>
                        </div>
                    </div>
                    <div class="event_details_info">
                        <div class="event_info">
                            <a href="{% url 'details_post3' %}">
                                <h4>Третий Этап поступление В городе Бишкек</h4>
                            </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21 Июль 2022 </span> <span> <i class="flaticon-placeholder"></i> Бишеке</span> </p>
                        </div>
                        <p class="event_info_text">Перечень документов для сдачи экзамена: Документ, удостоверяющий личность и гражданство, Документ о предыдущем образовании,Свидетельство о признании иностранного образования и (или) квалификации.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}