{% extends "base.html" %} {%block content%}
<h1 style="text-align: center;">Новости поступление</h1>
<div class="event_details_area section__padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_event d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/event/1.png" alt="">
                        <div class="date text-center">
                            <h4>02</h4>
                            <span>Май, 2022</span>
                        </div>
                    </div>
                    <div class="event_details_info">
                        <div class="event_info">
                            <a href="{% url 'details_post2' %}">
                                <h4>Второй Этап поступление В городе Бишкек</h4>
                            </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21 Май 2022 </span> <span> <i class="flaticon-placeholder"></i> Бишеке</span> </p>
                        </div>
                        <p class="event_info_text">Перечень документов для сдачи экзамена: Документ, удостоверяющий личность и гражданство, Документ о предыдущем образовании,Свидетельство о признании иностранного образования и (или) квалификации. Иностранным абитуриентам Сегодня
                            в Сибирском федеральном университете обучается более 1000 иностранных студентов, слушателей и стажёров из 42 стран мира (СНГ, Ближний Восток, Африка, Европа, Латинская Америка, Азия, Океания). Они обучаются на всех уровнях
                            — от бакалавриата до докторантуры, проходят включённое обучение или стажировку. Ежегодно в странах СНГ проводятся образовательные выставки и тестирования, где представители СФУ знакомят абитуриентов с возможностями нашего вуза.
                            Всем иностранным студентам предоставляются места для проживания в общежитиях на территории кампуса университета. Подробнее узнать об условиях поступления в СФУ можно по телефону +7 950 971-22-06 (WA, Viber) или электронной
                            почте admission@sfu-kras.ru. Дополнительная информация для иностранных абитуриентов Справочник для иностранных абитуриентов СФУ (.pdf) СФУ образовательные программы: выбирай и поступай (.pdf) Для зачисления поступающим необходимо
                            в установленный срок представить в Университет: на бюджетные места, в том числе на места в пределах квот, — оригинал документа об образовании и заявление о согласии на зачисление. В случае если подача заявления о согласии на
                            зачисление на бюджетные места осуществляется при наличии ранее поданного заявления о согласии на зачисление в СФУ на бюджетные места, поступающий до подачи нового согласия на зачисление подает заявление об отказе от зачисления
                            в соответствии с ранее поданным согласием. Заявление об отказе от зачисления является основанием для исключения поступающего из числа зачисленных на обучение на бюджетные места;. на платные места — заявление о согласии на зачисление
                            и документ об образовании (оригинал документа, или его заверенную копию, или его копию с предъявлением оригинала для заверения в Приёмной комиссии). В случае если подача заявления о согласии на зачисление на платные места осуществляется
                            при наличии ранее поданного заявления о согласии на зачисление в СФУ по иным условиям поступления и (или) основаниям для приема, факт отказа от зачисления на основании ранее поданного согласия фиксируется с заверением личной
                            подписью поступающего в заявлении о согласии на зачисление на платные места. В заявлении о согласии на зачисление указываются условия поступления по конкретному конкурсу, в соответствии с результатами которого поступающий хочет
                            быть зачисленным.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}