{% load static %}

<section id="page-content" class="with-side-menu with-side-menu-expanded">
    <h2>Новости</h2>
    <div class="tabs"></div>
    <div class="text">
        <div class="region region-content">
            <div id="block-system-main" class="block block-system">


                <div class="content">
                    <div id="news">
                        <div class="news-items">
                            <article class="news-item teaser node node-news node-teaser">
                                <a href="#" class="news-item-link image-inside">
                                    <span class="news-item-image">
        <img src="//ikit.sfu-kras.ru/sites/default/files/news_icons/rucode_5.0_2.jpg" width="360" alt="">            </span>
                                    <time class="news-item-date" datetime="2022-03-14"><span class="news-item-date-day">14</span><span class="news-item-date-month">марта</span></time>
                                    <h3 class="news-item-title"> V Всероссийский учебный фестиваль по искусственному интеллекту и программированию RuCode</h3>
                                </a>
                                <div class="news-item-annotation">
                                    <p>Открыта регистрация на<strong> V Всероссийский учебный фестиваль</strong> по искусственному интеллекту и программированию <strong>RuCode</strong>.<br> Начинающие программисты могут записаться на онлайн-курсы, продвинутые
                                        – на обучающие интенсивы и чемпионат.</p>
                                </div>
                            </article>
                            <article class="news-item teaser node node-news node-teaser">
                                <a href="#" class="news-item-link image-inside">
                                    <span class="news-item-image">
        <img src="//ikit.sfu-kras.ru/sites/default/files/news_icons/volgait22.png" width="360" alt="">            </span>
                                    <time class="news-item-date" datetime="2022-03-11"><span class="news-item-date-day">11</span><span class="news-item-date-month">марта</span></time>
                                    <h3 class="news-item-title">Международная цифровая олимпиада «Волга-IT’22»</h3>
                                </a>
                                <div class="news-item-annotation">
                                    <p>Стартовала регистрация на Международную цифровую олимпиаду для айтишников.<br> ОТБОРОЧНЫЙ ЭТАП ОНЛАЙН 01.03.2022 — 31.03.2022.<br> Регистрация на <a href="https://volga-it.org/personal/" target="_blank">сайте</a>.</p>
                                </div>
                            </article>
                            <article class="news-item teaser node node-news node-teaser">
                                <a href="/node/1404" class="news-item-link image-inside">
                                    <span class="news-item-image">
        <img src="//ikit.sfu-kras.ru/sites/default/files/news_icons/moya_strana_-_moya_rossiya.png" width="360" alt="">            </span>
                                    <time class="news-item-date" datetime="2022-03-02"><span class="news-item-date-day">02</span><span class="news-item-date-month">марта</span></time>
                                    <h3 class="news-item-title">Всероссийский конкурс «Моя страна – моя Россия»</h3>
                                </a>
                                <div class="news-item-annotation">
                                    <p>Идея Конкурса молодежных авторских проектов и проектов в сфере образования, направленных на социально-экономическое развитие российских территорий, <strong>«Моя страна – моя Россия»</strong> – в привлечении потенциала
                                        молодежи к решению острых вопросов социально-экономического развития российских регионов, городов и сел.</p>
                                </div>
                            </article>
                            <article class="news-item teaser node node-news node-teaser">
                                <a href="/node/1402" class="news-item-link image-inside">
                                    <span class="news-item-image">
        <img src="//ikit.sfu-kras.ru/sites/default/files/news_icons/8mar2022.png" width="360" alt="">            </span>
                                    <time class="news-item-date" datetime="2022-02-28"><span class="news-item-date-day">28</span><span class="news-item-date-month">февраля</span></time>
                                    <h3 class="news-item-title">Праздничный концерт, посвященный празднику 8 Марта.</h3>
                                </a>
                                <div class="news-item-annotation">
                                    <p>В преддверии Международного женского дня 5 марта 2022 в 16.00 часов в Конгресс-холле СФУ (пр. Свободный, 82, стр. 9) состоится праздничный концерт, посвященный празднику 8 Марта.</p>
                                </div>
                            </article>
                            <article class="news-item teaser node node-news node-teaser">
                                <a href="/node/1401" class="news-item-link image-inside">
                                    <span class="news-item-image">
        <img src="//ikit.sfu-kras.ru/sites/default/files/news_icons/kosmich_odisse2.png" width="360" alt="">            </span>
                                    <time class="news-item-date" datetime="2022-02-21"><span class="news-item-date-day">21</span><span class="news-item-date-month">февраля</span></time>
                                    <h3 class="news-item-title">Приглашение в проект «Космическая одиссея»</h3>
                                </a>
                                <div class="news-item-annotation">
                                    <p>Приглашаем активных любознательных молодых людей попробовать себя в роли космонавта. Проект <strong>«Космическая одиссея»</strong> реализуется в Красноярском крае совместно с Красноярским отделением Союза машиностроителей
                                        России при поддержке Фонда президентских грантов и Правительства Красноярского края.<br> Участие в проекте <strong>бесплатное</strong>, без отрыва от учебы и работы. Набор участников проводится <strong>до 28 февраля 2022 года</strong>.</p>
                                </div>
                            </article>

                        </div>
                        <div>
                            <nav class="pages">
                                <div class="item-list">
                                    <ul class="items prev-next">
                                        <li class="item next-page first last"><a class="item-link" href="/news?page=1"><span class="item-title">Следующая</span></a></li>
                                    </ul>
                                </div>
                                <div class="item-list">
                                    <ul class="items pages-list">
                                        <li class="item page current first"><a class="item-link active"><span class="item-title">1</span></a></li>
                                        <li class="item page"><a class="item-link" href="/news?page=1"><span class="item-title">2</span></a></li>
                                        <li class="item page"><a class="item-link" href="/news?page=2"><span class="item-title">3</span></a></li>
                                        <li class="item page"><a class="item-link" href="/news?page=3"><span class="item-title">4</span></a></li>
                                        <li class="item page"><a class="item-link" href="/news?page=4"><span class="item-title">5</span></a></li>
                                        <li class="item page"><a class="item-link" href="/news?page=5"><span class="item-title">6</span></a></li>
                                        <li class="item page last"><a class="item-link" href="/news?page=6"><span class="item-title">7</span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>