 {% extends "base.html" %} {%block content%} {% include 'application.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    /* $(document).ready(function() {
                // отслеживаем событие отправки формы
                /*  $('#contact1').submit(function() {
                      $.ajax({
                          data: $(this).serialize(),
                          type: $(this).attr('method'),
                          url: "{% url 'contact1' %}",
                          success: function(response) {
                              alert("Спасибо, что обратились к нам " + response.name);
                          },
                          error: function(response) {
                              alert(response.responseJSON.errors);
                              console.log(response.responseJSON.errors)
                          }
                      });
                      return false;
                  });*/
    //    data = {
    //         'name': $('#name').val(),
    //        'coursess': $('#coursess').val(),
    //       'phone': $('#phone').val(),
    //         'email': $('#email').val(),
    //       'subject': $('#subject').val(),
    //    }
    //   console.log($("#application").serialize())
    //    $.ajax({
    //        url: "{% url 'application' %}", //url страницы  
    //        type: "post", //метод отправки
    //        datatype: "json", //формат данных
    //        data: data, // сеарилизуем объект
    //        success: function(response) { //данные отправлены успешно 
    //            if (response.status == 200) {
    //                if (callbackSucces)
    //                   callbackSucces(response)
    //            }
    //         },
    //        error: function(response) { // данные не отправлены
    //            console.log(response);
    //        }
    //      });

    //    })

    //   function sendAjaxForm(form_id, url, callbackSucces = null) {
    //       console.log($("#" + form_id).serialize())
    //      $.ajax({
    //          url: url, //url страницы  
    //         type: "post", //метод отправки
    //           datatype: "html", //формат данных
    //           data: $("#" + form_id).serialize(), // сеарилизуем объект
    //           success: function(response) { //данные отправлены успешно 
    //if (response.status == 200) {
    //                   if (callbackSucces)
    //                       callbackSucces(response)
    //               }
    //           },
    //          error: function(response) { // данные не отправлены
    //              console.log(response);
    //          }
    //       });
    //
    //    }
</script>
{%endblock%}