<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-utilities.rtl.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Абитуриент</title>
</head>

<body>

    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_top_wrap d-flex justify-content-between align-items-center">
                                <div class="text_wrap">
                                    <p><span>+7(967)600-72-04</span> <span>Baybosunov@gmail.com</span></p>
                                </div>
                                <div class="text_wrap">
                                    <p><span>Венера Осомбаева</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_wrap d-flex justify-content-between align-items-center">
                                <div class="header_left">
                                    <div class="logo">
                                        <a href="/">
                                            <img src="{% static 'img/logo.png' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="header_right d-flex align-items-center">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/">Домой</a></li>
                                                <li><a href="{% url 'courses' %}">Направление<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="{% url 'bachelor' %}">Направления подготовки бакалавров </a></li>
                                                        <li><a href="{% url 'courses' %}">Популярные професиии Сфу</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'single' %}">Блог </a>
                                                </li>
                                                <li><a href="#">Страницы<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="{% url 'details' %}">События</a></li>
                                                        <li><a href="{% url 'admissions' %}">Приемы</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'contact1' %}">Контакты</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="Appointment">
                                        <div class="book_btn d-none d-lg-block">
                                            <a data-scroll-nav='1' href="{% url 'admissions' %}">Оставить заявку</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {% block content %}

    <div class="slider_area">
        <div class="slider_active owl-carousel">

            <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Поступай правильно <br> поступай в СФУ! <br>
                                </h3>
                                <a href="{% url 'admissions' %}" class="boxed-btn3">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Поступай правильно <br> поступай в СФУ! <br>
                                </h3>
                                <a href="{% url 'admissions' %}" class="boxed-btn3">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single_slider {% static 'img/banner/student1.jpg' %} d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Поступай правильно <br> поступай в СФУ! <br>
                                </h3>
                                <a href="{% url 'admissions' %}" class="boxed-btn3">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="service_area gray_bg">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service d-flex align-items-center ">
                        <div class="icon">
                            <i class="flaticon-school"></i>
                        </div>
                        <div class="service_info">
                            <h4>Стипендия</h4>
                            <p>до 12 тыс рублей</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service d-flex align-items-center ">
                        <div class="icon">
                            <i class="flaticon-error"></i>
                        </div>
                        <div class="service_info">
                            <h4>Бюджетный места</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service d-flex align-items-center ">
                        <div class="icon">
                            <i class="flaticon-book"></i>
                        </div>
                        <div class="service_info">
                            <h4>Гарантированное общежитие</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popular_program_area section__padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h3>Популярные направление</h3>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'img/program/1.png' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Направление</span>
                                    <h4>Химическая инженерия</h4>
                                    <p> Химическая инженерия - это прикладная химия. Это отрасль инженерии, связанная с проектированием, изготовлением и эксплуатацией машин</p>
                                    <a href="#" class="boxed-btn5">Оставить заявку</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'img/program/2.png' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Направление</span>
                                    <h4>Машиностроение</h4>
                                    <p>Машиностроение — отрасль промышленности, занимающая производством машин, оборудования, приборов и т.д., в том числе являющихся средствами производства.</p>
                                    <a href="#" class="boxed-btn5">Оставить заявку</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'img/program/3.png' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Направление</span>
                                    <h4>Биоинженерия</h4>
                                    <p>Биоинженерия или биологическая инженерия — направление науки и техники, развивающее применение инженерных принципов в биологии и медицине.</p>
                                    <a href="#" class="boxed-btn5">Оставить заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program">
                            <div class="program_thumb">
                                <img src="{% static 'img/program/2.png' %}" alt="">
                            </div>
                            <div class="program__content">
                                <span>Направление</span>
                                <h4>Биоинженерия</h4>
                                <p>Биоинженерия или биологическая инженерия — направление науки и техники, развивающее применение инженерных принципов в биологии и медицине.</p>
                                <a href="#" class="boxed-btn5">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program">
                            <div class="program_thumb">
                                <img src="{% static 'img/program/2.png' %}" alt="">
                            </div>
                            <div class="program__content">
                                <span>Направление</span>
                                <h4>Биоинженерия</h4>
                                <p>Биоинженерия или биологическая инженерия — направление науки и техники, развивающее применение инженерных принципов в биологии и медицине.</p>
                                <a href="#" class="boxed-btn5">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program">
                            <div class="program_thumb">
                                <img src="{% static 'img/program/2.png' %}" alt="">
                            </div>
                            <div class="program__content">
                                <span>Направление</span>
                                <h4>Биоинженерия</h4>
                                <p>Биоинженерия или биологическая инженерия — направление науки и техники, развивающее применение инженерных принципов в биологии и медицине.</p>
                                <a href="#" class="boxed-btn5">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="course_all_btn text-center">
                    <a href="{% url 'courses' %}" class="boxed-btn4">Еще</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="latest_coures_area">
        <div class="latest_coures_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="coures_info">
                            <div class="section_title white_text">
                                <h3>Институт космических и информационных технологий</h3>
                                <p>В настоящее время в Институте космических и информационных технологий более 90 % дисциплин по всем формам обучения имеют электронные образовательные ресурсы</p>
                            </div>
                            <div class="coures_wrap d-flex">
                                <div class="single_wrap">
                                    <h4>Бакалавр <br>Программная инженерия</h4>
                                    <p>Готовим ведущих технических специалистов, разработчиков и архитекторов программного обеспечения, менеджеров проектов, менеджеров по качеству ПО. Необходимость в таких специалистах диктуется потребностями отрасли: открытием
                                        IT-технопарков, стремительным развитием рынка оффшорного и заказного программирования, информатизацией государственных структур, расширением области применения искусственного интеллекта, потребностями частного бизнеса.</p>
                                    <a href="https://ikit.sfu-kras.ru/abiturient/info" class="boxed-btn5">Узнать больше..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="recent_event_area section__padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">Недавнее событие</h3>
                        <p>Все самые свежие новости по теме</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>02</span>
                            <p>Март, 2022</p>
                        </div>
                        <div class="event_info">
                            <a href="{% url 'details' %}">
                                <h4>Первый Этап поступление Сфу В городе Бишкек</h4>
                            </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Март 2022 </span> <span> <i class="flaticon-placeholder"></i> Бишкек</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>03</span>
                            <p>21Март, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="{% url 'details' %}">
                                <h4>Второй Этап поступление Сфу В городе Бишкек</h4>
                            </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Март 2022  </span> <span> <i class="flaticon-placeholder"></i> Бишкек</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>10</span>
                            <p>Март, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="{% url 'details' %}">
                                <h4>Третий Этап поступление Сфу В городе Бишкек</h4>
                            </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Март 2022  </span> <span> <i class="flaticon-placeholder"></i> Бишкек</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent_event_area_end  -->

    <!-- latest_coures_area_start  -->
    <div data-scroll-index='1' class="admission_area">
        <div class="admission_inner">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-7">
                        <div class="admission_form">
                            <h3>Подать заявку на поступление</h3>
                            <form method="POST" class="was-validated">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single_input">
                                            <strong><br />{{ form.subject.errors }}</strong>
                                            <input name="name" type="text" placeholder="Ф.И.О" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single_input">
                                            <strong><br />{{ form.subject.errors }}</strong>
                                            <input name="coursess" type="text" placeholder="Направление" required> {{ form.subject }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single_input">
                                            {{ form.email.errors }}
                                            <input name="phone" type="text" placeholder="Контактный номер " required> {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single_input">
                                            <strong><br />{{ form.email.errors }}</strong>
                                            <input name="email" type="text" placeholder="Email Address" required> {{ form.email }} {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single_input">
                                            <strong><br />{{ form.message.errors }}</strong>
                                            <textarea name="subject" cols="30" placeholder="Write an Application" rows="10" required></textarea> {{ form.message }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        {{ form.recaptcha }}
                                        <div class="apply_btn">
                                            <button class="boxed-btn3" type="submit">Оправить заявку</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="recent_news_area section__padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">Свежие новости</h3>
                        <p>Последние новости в Сфу.Новостях: Актуальные новости Сфу, важные и свежие новости дня</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="single__news">
                        <div class="thumb">
                            <a href="{% url 'single' %}">
                                <img src="{% static 'img/news/1.png' %}" alt="">
                            </a>
                            <span class="badge">Новости</span>
                        </div>
                        <div class="news_info">
                            <a href="{% url 'single' %}">
                                <h4>Эти другие расходы на обучение в колледже, о которых вы не думаете</h4>
                            </a>
                            <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> May 10, 2022</span>

                                <span> <i class="flaticon-comment"></i> 01 комментарий</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single__news">
                        <div class="thumb">
                            <a href="{% url 'single' %}">
                                <img src="{% static 'img/news/2.png'%}" alt="">
                            </a>
                            <span class="badge bandge_2">Новости</span>
                        </div>
                        <div class="news_info">
                            <a href="{% url 'single' %}">
                                <h4>Эти другие расходы на обучение в колледже, о которых вы не думаете</h4>
                            </a>
                            <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> Март 10, 2022</span>

                                <span> <i class="flaticon-comment"></i> 01 комментарий</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="newsLetter_wrap">
                    <div class="row justify-content-between">
                        <div class="col-md-7">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Stay Updated
                                </h3>
                                <form action="#" class="newsletter_form">
                                    <input type="text" placeholder="Email Address">
                                    <button type="submit">Subscribe Now</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Stay Updated
                                </h3>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                About Us
                            </h3>
                            <ul>
                                <li><a href="#">Online Learning</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Press Center</a></li>
                                <li><a href="#">Become an Instructor</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Campus
                            </h3>
                            <ul>
                                <li><a href="#">Our Plans</a></li>
                                <li><a href="#">Free Trial</a></li>
                                <li><a href="#">Academic Solutions</a></li>
                                <li><a href="#">Business Solutions</a></li>
                                <li><a href="#">Government Solutions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Study
                            </h3>
                            <ul>
                                <li><a href="#">Admissions Policy</a></li>
                                <li><a href="#">Getting Started</a></li>
                                <li><a href="#">Visa Information</a></li>
                                <li><a href="#">Tuition Calculator</a></li>
                                <li><a href="#">Request Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Support
                            </h3>
                            <ul>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">System Requirements</a></li>
                                <li><a href="#">Register Activation Key</a></li>
                                <li><a href="#">Site feedback</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block javascript %} {% endblock javascript %}
</body>

</html>