{% extends "base.html" %} {%block content%}
<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Учёные СФУ в ТОП мировых исследователей</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>
                            Ведущая академическая платформа для исследователей research.com опубликовала список лучших учёных. Рейтинг составлен на основе наукометрических показателей. Представители Сибирского федерального университета вошли в рейтинг по трём направлениям.
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>Наргады, достижения</a></li>
                        </ul>
                        <p class="excert">
                            Research.com позиционирует себя как «исследовательский портал номер один» для учёных. Своей миссией они считают продвижение научных исследований и информирование научного сообщества о последних конференциях и публикациях по различным областям науки. Это
                            первый рейтинг, который создатели платформы составили на основе оценок научных публикаций и материалов о научном вкладе ведущих мировых учёных с 2014 года. Методика ранжирования включала оценку профилей учёных в Google Scholar
                            и Microsoft Academic Graph, значения индекса Хирша, публикаций и цитирований, собранные на 6 декабря 2021 года. Принадлежность исследователя к тому или иному университету устанавливалась на основе сведений об аффилиации, указанных
                            в его профиле Google Scholar.
                        </p>

                        <div class="quote-wrapper">
                            <div class="quotes">
                                Учёные СФУ оказались на следующих позициях: в направлении Environmental Science: 2 место в России и 2620 в мире у научного руководителя СФУ, академика РАН Евгения Ваганова; 11 в России и 6708 в мире у профессора Николая Еркаева; в направлении Chemistry
                                — 13 место в России и 5224 в мире у доцента Максима Молокеева; в направлении Ecology and evolution — 1 место (единственный среди российских учёных) и 4341 в мире у профессора, член-корреспондент РАН Михаила Гладышева.
                            </div>
                        </div>
                        <p>
                            В целом, учёные из России вошли в рейтинг по таким направлениям, как электроника и электротехника, компьютерные науки, химия, техника и технологии, аэрокосмические исследования, а также математика, бизнес и менеджмент.


                        </p>
                        <p>
                            Отдельно приводится рейтинг университетов, а также рейтинги международных научных изданий и симпозиумов. СФУ вошёл в общий рейтинг по тем же областям: в направлении Environmental Science — 1 место в России (второе место — МГУ) и 479 в мире; в направлении
                            Chemistry — 8 место в России и 990 в мире; в направлении Ecology and evolution — 1 место (и единственное) в России и 635 в мире.
                        </p>
                    </div>
                </div>



                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="img/blog/author.png" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>Пресс-служба СФУ</h4>
                            </a>
                            <p>8 апреля 2022 г</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{%endblock%}