{% extends "base.html" %} {%block content%} {% load static %}

<div class="container">
    <div class="row">
        <h1>Кыргызские студенты и выпускники делятся опытом поступления в СФУ, рассказывают об учебе и жизни в России.</h1>
    </div>
</div>
<section class="blog_area single-post-area section-padding" style="
padding-top: 37px;
width: 60%;
padding-bottom: 142px;
margin-left: 327px;
text-align: center;
background: #E73E10;
border-radius: 20px;">

    <div class="quote-wrapper">
        <p style="color: white;">
            СФУ — это не только многопрофильный университет с широчайшим спектром направлений подготовки, но и интернациальный. Обучение здесь возможно по 90 программам бакалавриата и специалитета и 144 магистерским программам. В вузе есть учебные программы как на
            русском, так и на английском языках. В СФУ работает более 2 тысяч квалифицированных преподавателей, из них 1 833 — доктора и кандидаты наук. Ежегодно в университет приезжают более 400 приглашенных профессоров, в том числе ведущие ученые Англии,
            Германии, Испании, Китая, США и других стран. Как себя чувствуют иностранцы в СФУ? Некоторые истории ниже.
        </p>
    </div>

    </div>
</section>
<div class="container" style="    margin-top: 31px;
margin-left: 364px;
">
    <div class="row align-items-start">
        <div class="col">
            <a href="https://photo.sfu-kras.ru/rubric/4"><img style="width: 250px; height: 275px;" src="{% static 'img/kampus/ab.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
        <div class="col">
            <a href="https://photo.sfu-kras.ru/rubric/4"><img style="width: 250px; height: 275px;" src="{% static 'img/kampus/ac.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
        <div class="col">
            <a href="https://photo.sfu-kras.ru/rubric/4"><img style="width: 250px; height: 275px;" src="{% static 'img/kampus/an.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
    </div>
    <div style="padding: 11px 0 11px;" class="row align-items-center">
        <div class="col">
            <a href="https://photo.sfu-kras.ru/rubric/4"><img style="width: 250px; height: 275px;" src="{% static 'img/kampus/av.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
        <div class="col">
            <a href="https://photo.sfu-kras.ru/rubric/4"><img style="width: 250px; height: 275px;" src="{% static 'img/kampus/ax.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
        <div class="col">
            <a href="https://photo.sfu-kras.ru/rubric/4"><img style="width: 250px; height: 275px;" src="{% static 'img/kampus/az.jpg' %}" class="card-img-top" alt="..."></a>
        </div>
    </div>
</div>
{%endblock%}